<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Billionths</title>

	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
<body>
	{{{body}}}
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
</body>
</html>	