<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Billionths - Profile</title>

    <!-- Custom styles for this template -->
	<link href="/public/assets/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
	<script src="assets/js/game.js"></script>
		<script src="assets/js/chart.js"></script>
	
	<link href="/public/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    	<!-- Custom styles for this template -->
	<link href="assets/css/main.css" rel="stylesheet">

     <section id="about" name="about"></section>
 <div id="f">
	 <div class="container">
		 <div class="col-lg-12">
			 <h3>YOUR PROFILE</h3>
			 <br>
 </div>

 	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo">
				<a href="/">Billionths</a>
			</h1>
			<i class="icon-remove menu-close"></i>
			<a href="/" class="smoothScroll">Home</a>
			<a href="about" class="smoothScroll">About</a>
			<a href="profile" class="smoothScroll">Profile</a>
			<a href="dashboard" class="smoothScroll">Dashboard</a>
			<a href="contact" class="smoothScroll">Contact</a>
			<a href="https://www.facebook.com/Billionths-234466940636346/" target="_blank">
				<i class="icon-facebook"></i>
			</a>
			<a href="https://twitter.com/Billionths14" target="_blank">
				<i class="icon-twitter"></i>
			</a>
			<a href="#">
				<i class="icon-envelope"></i>
			</a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>