<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/game.js"></script>
    <script src="assets/js/chart.js"></script>

    <link href="/public/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/public/assets/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">


</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo">
                <a href="/">Billionths</a>
            </h1>
            <i class="icon-remove menu-close"></i>
            <a href="/" class="smoothScroll">Home</a>
            <a href="about" class="smoothScroll">About</a>
            <a href="profile" class="smoothScroll">Profile</a>
            <a href="dashboard" class="smoothScroll">Dashboard</a>
            <a href="contact" class="smoothScroll">Contact</a>
            <a href="https://www.facebook.com/Billionths-234466940636346/" target="_blank">
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/Billionths14" target="_blank">
                <i class="icon-twitter"></i>
            </a>
            <a href="#">
                <i class="icon-envelope"></i>
            </a>
        </div>

        <!-- Menu button -->
        <div id="menuToggle">
            <i class="icon-reorder"></i>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Who We Are (last known photos)</h1>
            </div>


            <section id="main-bios">

                <div class="col-lg-12">
                    <h1>Sam</h1>
                    <img id="bio-image" src="https://avatars0.githubusercontent.com/u/34250712?s=200&v=2/" width="200" height="200" alt="" alt="Sam">
                    <p>He's a millennial. Don't ask him about the ancient days known as the 90's. He does lots of server stuff.</p>
            </section>


            <div="row">
                <h1>Alan</h1>
                <img id="bio-image" src="https://avatars0.githubusercontent.com/u/34250712?s=200&v=2/" width="200" height="200" alt="" alt="Alan">
                <p>From Mexico and frequents the Tuesday-Thursday class. Joining us for some server fun.</p>
                </section>
                </div>
        </div>
        </section>

        <br>


        <div id="page-wrapper">
            <div class="row">

                <section id="main-bios">

                    <div class="col-lg-12">
                        <h1>Paul</h1>
                        <img id="bio-image" src="https://avatars0.githubusercontent.com/u/34250712?s=200&v=2/" width="200" height="200" alt="" alt="Paul">
                        <p>He's not a Milenial. Future Google Greygler who handles documentation and front end coding</p>
                </section>


                <div="row">
                    <h1>Emit</h1>
                    <img id="bio-image" src="https://avatars0.githubusercontent.com/u/34250712?s=200&v=2/" width="200" height="200" alt="" alt="Alan">
                    <p>Has a wife, some kids, some dogs. Tired from from the front end coding...</p>
                    </section>
                    </div>
            </div>
            </section>



            <style>
                .container {
                    width: 1024px;
                    margin: 0 auto;
                }

                #main-bio,
                #contact-info,
                #bio-image {
                    float: left;
                }

                #main-bio {
                    width: 70%;
                }

                #contact-info {
                    width: 30%;
                }

                #bio-image {
                    width: 200px;
                    height: 200px;
                    margin-right: 20px;
                }
            </style>
