<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Billionths - A Cryptocurrency Site</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/assets/css/main.css" rel="stylesheet">
    <link href="/public/assets/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->

    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo">
                <a href="/">Billionths</a>
            </h1>
            <i class="icon-remove menu-close"></i>
            <a href="/" class="smoothScroll">Home</a>
            <a href="about" class="smoothScroll">About</a>
            <a href="profile" class="smoothScroll">Profile</a>
            <a href="dashboard" class="smoothScroll">Dashboard</a>
            <a href="contact" class="smoothScroll">Contact</a>
            <a href="https://www.facebook.com/Billionths-234466940636346/" target="_blank">
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/Billionths14" target="_blank">
                <i class="icon-twitter"></i>
            </a>
            <a href="#">
                <i class="icon-envelope"></i>
            </a>
        </div>

        <!-- Menu button -->
        <div id="menuToggle">
            <i class="icon-reorder"></i>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Address form -->

                    <h1>Contact Us</h1>
                    <br>
                    <br>

                    <!-- full-name input-->
                    <div class="container">
                        <div class="control-group">
                            <label class="control-label">Full Name</label>
                            <div class="controls">
                                <input id="full-name" name="full-name" type="text" placeholder="full name" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <!-- address-line1 input-->
                        <div class="control-group">
                            <label class="control-label">Questions? Ideas?</label>
                            <div class="controls">
                                <input id="address-line1" name=comment " type="text " placeholder="Comments Here "
                        class="input-xlarge ">
                    </div>
                </div>
                </div>
                    </div>
                </div>
            </fieldset>
        </form>
	</div>
</div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> alan
