<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="">
	<meta name="author" content="">


	<title>Billionths - A Cryptocurrency Site</title>



	<!-- Custom styles for this template -->
	<link href="assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo">
				<a href="index.html#home">Billionths</a>
			</h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#profile" class="smoothScroll">Profile</a>
			<a href="#dashboard" class="smoothScroll">Dashboard</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="https://www.facebook.com/Billionths-234466940636346/" target="_blank">
				<i class="icon-facebook"></i>
			</a>
			<a href="https://twitter.com/Billionths14" target="_blank">
				<i class="icon-twitter"></i>
			</a>
			<a href="#">
				<i class="icon-envelope"></i>
			</a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>



	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div class="row" <div id="headerwrap">
		<div class="logo">
			<img src="assets/img/logo.png">
		</div>

		<div class="row">
			<h1>BILLIONTHS</h1>
			<h3>Your Cryptocurrency - All in One Place</h3>

			<div class="col-md-6 col-lg-offset-3">
			</div>
		</div>

		<br>
		<br>
		<br>

		<div class="col-lg-6 col-lg-offset-4">
<<<<<<< HEAD
			<a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-outline-dark btn-lg">Login</a>
=======
			<a href="/auth/google/callback" class="btn btn-outline-dark btn-lg">Login</a>
>>>>>>> 3850a31cb1b31769b7356bfc2f9991db23d6827f

			<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="loginmodal-container">
						<form>
							<input type="text" name="user" placeholder="Username">
							<input type="password" name="pass" placeholder="Password">
							<input type="submit" name="login" class="login loginmodal-submit" value="Login">
						</form>

						<div class="login-help">
							<a href="#">Register</a> -
							<a href="#">Forgot Password</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	</div>
	<!-- /headerwrap -->




<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/classie.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>