<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Billionths - Profile</title>

    <!-- Custom styles for this template -->
	<link href="/public/assets/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
	<script src="assets/js/game.js"></script>
	<script src="assets/js/chart.js"></script>
	
	<link href="/public/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/public/assets/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    	<!-- Custom styles for this template -->
	<link href="assets/css/main.css" rel="stylesheet">


</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo">
				<a href="/">Billionths</a>
			</h1>
			<i class="icon-remove menu-close"></i>
			<a href="/" class="smoothScroll">Home</a>
			<a href="about" class="smoothScroll">About</a>
			<a href="profile" class="smoothScroll">Profile</a>
			<a href="dashboard" class="smoothScroll">Dashboard</a>
			<a href="contact" class="smoothScroll">Contact</a>
			<a href="https://www.facebook.com/Billionths-234466940636346/" target="_blank">
				<i class="icon-facebook"></i>
			</a>
			<a href="https://twitter.com/Billionths14" target="_blank">
				<i class="icon-twitter"></i>
			</a>
			<a href="#">
				<i class="icon-envelope"></i>
			</a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>

<div class="container">
	<div class="row">
		 <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->
         
                <h1>Profile</h1>


	<link href="/public/assets/css/index.css" rel="stylesheet"
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
	<script src="assets/js/game.js"></script> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">

	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>


	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
	
				<br>
			</div>


			<div id="page-wrapper">
				<div class="container">

					<h2>Select the currency you'd like to buy:</h2>
					{{!-- <div class="row"> --}}
						<div class="col-6">
							<div class="form-group">
								<label for="Select1">Currencies:</label>
								<select class="form-control" id="coinDropdown">
									<option value="1">Bitcoin</option>
									<option value="2">Litecoin</option>
									<option value="52">Ripple</option>
									<option value="512">Stellar</option>
									<option value="1027">Ethereum</option>
									<option value="1720">IOTA</option>
									<option value="1765">EOS</option>
									<option value="1831">Bitcoin Cash</option>
									<option value="1958">TRON</option>
									<option value="2010">Cardano</option>
								</select>
							</div>
						</div>

						<div id="coinIcon"></div>
						<div id="coinName"></div>
						<div id="coinPrice"></div>

						<div class="form-group row">
							<label for="example-number-input" class="col-4 col-form-label">Amount to purchase:</label>
							<div class="col-10">
								<input class="form-control" type="number" value="1" id="buyAmount">
							</div>
						</div>
					</div>



</div>
					<button class="btn btn-primary" id="insertTransaction">Submit</button>
					<br>
					<div id="transactionStatus"></div>


	<div class="col-6">
	<label for="exampleSelect1">Purhased Currencies:</label>	
		<input #destination>
	<script>$("#select1").appendTo("#destination")</script>		
	

<script src="/assets/js/bootstrap.js"></script>
								